body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cuadrado {
  width: 255px;           /* Ancho de 150 píxeles */
  height: 255px;          /* Alto de 150 píxeles */
  background: rgb(0, 0, 0);        /* Fondo de color rojo */
  border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  margin: 20px auto;
  
}